version: '3'

services:
  nginx:
    build: ./nginx
    depends_on:
      - logstash
    ports:
      - 80:8080
      - 443:8080
    volumes:
      - /etc/apache2/.htpasswd:/etc/apache2/.htpasswd
  logstash:
    build: ./logstash
    depends_on:
      - elasticsearch
    ports:
      - 1514:1514
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.2
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
  kibana:
    build: ./kibana
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
      
